<script type="text/template" id="password-reset-template">
    <div class="login-page-container">
        <div class="form-container">
            <div class="form-signin">
                <form id="password-reset-form">
                    <label for="resetUsername">Username</label>
                    <input type="text" id="resetUsername" name="username" required autofocus>

                    <label for="resetEmail">Email address</label>
                    <input type="email" id="resetEmail" name="email" required>

                    <label for="resetJoinedDate">Joined Date</label>
                    <input type="date" id="resetJoinedDate" name="joined_date" required>

                    <label for="resetPassword">New Password</label>
                    <input type="password" id="resetPassword" name="new_password" required>

                    <button id="reset-button" class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
    <p class="goback-login">Remember your password? <a href="#login" id="goback-login-link">login here.</a></p>
</script>
