<script type="text/template" id="post-answer-template">
    <div class="post-answer-container">
        <div class="question-detail-header">
            <h1 class="question-detail-title"><%= question.title %></h1>
        </div>
        <span class="question-posted-date">posted on <%= question.formattedDate %></span>
        <p class="question-detail-content"><%= question.content %></p>
        <div class="question-detail-footer">
            <span class="question-tags"><%= question.tags.join(', ') %></span>
            <div class="user-details">
                <img src="user.png" alt="Posted by" class="user">
                <span class="question-user"><strong><%= question.username %></strong></span>
            </div>
        </div>
        
        <div class="answer-form">
            <label>What is your answer?</label>
            <textarea name="inputanswer" placeholder="Write your answer here..."></textarea>
        </div>
        <button class="answer-form-btn" type="button" id="post-answer-btn">Post Answer</button>
    </div>
</script>
