<script type="text/template" id="register-template">
    <div class="form-container">
      <div class="form-signin">
        <form id="register-form">
          <label for="inputUsername">Username</label>
          <input type="text" id="inputUsername" name="username" required autofocus>
          
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" name="email" required>
          
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" name="password" required>
          
          <button id="register-button" class="btn btn-primary" type="submit">Register</button>
        </form>
        <div class="login-link">
          <p>Already have an account? <a href="#">Login</a></p>
        </div>
      </div>
    </div>
</script>
  